.main {
    background: url(https://e0.pxfuel.com/wallpapers/728/627/desktop-wallpaper-pokeball-template-pokemon-ball-pokemon-pokemon-go-realistic-pokeball.jpg) no-repeat center fixed;
    background-size: cover;
    height: 900px;
    font-family: cursive;
    text-align: center;
}